   
/* roxo pastel: #8763C8 */
/* cinza escuro: #868080 */
/* cinza claro: #A49F9F */

.cabeca{
    height: 8vh;
    width: 100vw;
    background-color: #8763C8;
    display: flex;
    font-size: 35px;
}
.corpo{
    height: 100vh;
    width: 80vw;
    border:solid;
    border-color: black;

}
a{
    color: white;
    margin-top: 1vh;
    margin-left: 4vw;
}
p{
    font-size: 23px;
    margin-left: 25vw;
}

.base{
    height: 40vh;
    width: 60vw;
    border-color: #868080;
    border-radius: 5px;
    border-width: 7px;
    border: solid;
    margin-left: 10vw;
    margin-top: 4vh;
}   

.corpo-tabela {
    width: 60vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.tabela {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

