@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: 'Barlow Condensed', sans-serif;
}

/* roxo pastel: #8763C8 */
/* cinza escuro: #868080 */
/* cinza claro: #A49F9F */


body{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: linear-gradient(to left, #8763C8,  #4e4376);
}

.menu {
	width: 100%;
	height: 6vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	}
	
	#nav-menu {
	  height: 6vh;
	  width: 100%;
	  background-color:#23232e;
	}
	
	ul {
	  width: 70%;
	  display: flex;
	  justify-content: space-evenly;
	  align-items: center;
	  list-style: none;
	  
	  
	}
	ul li {
	  font-size: 1.2rem;
	  color: #fff;
	  cursor: pointer;
	  margin-top: -0.2rem;
	}
	.menu #nav-menu ul li {
	  list-style: none;
	  transition: all 0.7s ease;
	  cursor: pointer;
	}
	
	ul li:hover {
	  border-bottom: 1px solid #A49F9F;
	}
	
	#logo {
	  width: 4rem;
	  margin-bottom: 0.5rem;
	  cursor: pointer;
	}
	
	
	ul li:hover {
		border-bottom: 0.2px solid #7143c5;
	}
	

	.Senha{
		width: 8rem;
		height: 1.5rem;
		border-radius: 9px;
		padding: 8px 8px 8px 8px;
		outline: none;
		border: 0.1px solid #A49F9F;
		color: #e2e2e2;
		background-color: transparent;
	}
.campo, #confirmar {
	width: 18rem;
	height: 1.5rem;
	border-radius: 9px;
	padding: 8px 8px 8px 8px;
	outline: none;
	border: 0.1px solid #A49F9F;
	color: #e2e2e2;
	background-color: transparent;

}

#confirmar {
	padding: 0;
	cursor: pointer;
	display: block;
}

.opc, #equipes {
	width: 15rem;
	height: 1.5rem;
	border-radius: 9px;
	padding: 2px;
	outline: none;
	border: 0.1px solid #aaa;
	color: #e2e2e2;
	background-color: transparent;
}

#equipes {
	width: 10rem;
	margin-right: 2rem;
}

.baixo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-top: 9vh;
}


.escolha {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	height: 10vh;
	/* padding-top: 1rem; */
	flex-wrap: wrap;
	gap: 0.5rem;
	border: 3px solid;
}

.painel {
	width: 50vw;
	height: 60vh;
	margin-top: 4vh;
	display: flex;
	align-items: center;
	border: 3px solid;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
}
.parte1 {
	display: flex;
	width: 100%;
	height: 53vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.3rem;
}

#datainput {
	width: 8rem;
	margin-right: 7rem;
}

input#enviar {
	width: 6rem;
	padding: 0;
	height: 2.5rem;
}

h1 {
	font-size: 30px;
}

label {
	font-size: 13px;
	color: #fff;
	margin-bottom:0.2rem;
	display: flex;
}




/* .rodape {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
} */

@media  (max-width: 980px) {
	
	/* vou comentar pra me organizar fds */

	/* inputs maiores */



	.campo {
		width: 70%;
		height: 3.8rem;
		border-radius: 9px;
		padding: 1rem;
		font-size: 30px;
	}


	/* labels hehe */

	label {
		font-size: 28px;
		margin-bottom: 0.5rem;
	}

	input#datainput {
		width: 15rem;
		margin-right: 28rem;
		text-align: center;
		font-size: 25px;
	}


	form {
		padding-top: 22vh;
	}

	input#enviar {
		width: 8rem;
		height: 2.5rem;
	}

	/* .rodape {
		margin-top: 28em;
	} */

	h1 {
	font-size: 35px;
	margin-bottom: 1rem;
	}

.opc, #equipes {

	width: 15rem;
	height: 3rem;
	border-radius: 9px;
	padding: 2px;
	outline: none;
	border: 0.1px solid #aaa;
	color: #e2e2e2;
	background-color: transparent;
}

.modalidade {
	height: 2.5rem;
}


}

.hidden{
	display: none;
}
.Membro1{
	margin-left: 4vw;
}

.opc, #equipes {

	width: 15rem;
	height: 2.5rem;
	border-radius: 9px;
	padding: 2px;
	outline: none;
	border: 0.1px solid #aaa;
	color: #e2e2e2;
	background-color: transparent;
}

